page-weather {
	.content {
        background-image: url('../../assets/imgs/bg02.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
